
body {
  text-align: center;
 }

.textarea {
  width: auto;

    }
  
  #key {
    width: 60px;
    font-size: large;
    margin-left: 20px
  }
  ::-webkit-input-placeholder {
    
    text-align: center;
  }