.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #13a787ad;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 6px;
    width: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}
.buttonCont{
    width: 90px;
}


.buttonCont:hover .button{
   
    padding: 6px 10px;
    opacity: 1;
    transition-duration: 1s;
    transform-style: preserve-3d;
    transform: rotate(180deg);
  
}

.buttonRev {
    transform: rotateY(180deg);
}



.buttonCont {
    position: relative;
    display: inline-block;
  }
  
  .buttonCont .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .buttonCont .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .buttonCont:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  
